/* ALLGEMEIN */
* {
    margin: 0;
    padding: 0;

    /*font*/
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    /*color*/
    --background1: white;
    --background2: azure;
    --background3: #168AAD;
    --background4: #34A0A4;
    --background5: #76C893;

    --backgroundMobileDrop: #34A0A4;

    --buttonHover: #34A0A4;
    --buttonPlan:  #B5E48C;
    --buttonPlanMobileDrop: #34A0A4;
    --buttonRemove: #EB5757;
    --buttonRemoveHover: #CC4C4C;

    --secondaryColor: #D9ED92;

    --textColor1: black;
    --textColor2: #333;

    --highlight: #B5E48C;


    /*shadow*/
    --boxShadow: 4px 4px 10px rgba(0,0,0,0.06);

}

html, body{
    height:100%;
    width: 100%;
}

.wrapper {
    width: 960px;
    max-width: 90%;
    margin: 0;
}

/* NAVIGATION*/
nav{
    height: 100px;
    background-color: var(--background3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--background1);
}

nav .logo{
    margin-left: 20px;
    font-family: Levenim MT;
    font-size: 3em;
    color: var(--background1);
    text-decoration: none;
}

nav ul{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

nav li{
    height: 100%;
    width: 150px;
    text-align: center;
    position: relative;
}

nav li:hover{ 
    border-bottom: solid var(--background1) 5px;
    padding-bottom: 2.5px;
}

nav ul a{
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color:var(--background1);
}

.dropdown{
    height: min-content;
    background:var(--background3);
    width: 200px;
    display: none;
    flex-direction: column;

    position:absolute;
    top: 100px;
}

#drop1{
    left: 0;
    width: 200px;
}

#drop2{
    right: 0;
    width: 400px;
}

.dropdown li{
    height: 80px;
    width: 100%;
}

.dropdown li a{
    justify-content: flex-start;
    padding-left: 30px;
    width:calc(100% - 30px);
}

nav li:hover .dropdown{ 
    display:flex;
    
}

nav input[type="checkbox"]{
    display: none;
}

.expandable_li{
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle_button{
    width: 30px;
    height: 23px;

    position:absolute;
    top: 25px;
    right: 25px;

    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.bar{
    height: 4px;
    width: 100%;
    background: var(--background1);
    border-radius: 100px;
}

.planwrapper{
    width: 400px;
    height:fit-content;
    min-height: 500px;
    
    
}

.dropdown-cart-row {
    left:0;
    padding: 20px;
    width: 350px;
}

.dropdown-cart-row span {
    font-size: smaller;
    padding: 15px;
}

.dropdown-cart-column {
    display: flex;
    align-items: center;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
    /* border-bottom: 1px solid black; */
}

.dropdown-cart-row {
    display: flex;
}

.dropdown-cart-item {
    width: 45%;
}

.dropdown-cart-quantity{
    right: 5px;
}

.plan-button-wrapper {
    width: 100px;
    height: 50px;
   
    background-color:var(--buttonPlan);
    margin: 20px;
    margin-left: 150px;
    border-radius: 5px;
}

@media(max-width: 650px){
    .toggle_button{
        display: flex;
    }
    nav ul{
        height: min-content;
        width: 100%;
        background: var(--background4);

        display: none;
        position:absolute;
        top: 100px;
    }
    nav li{
        height: min-content;
        width: 100%;
    }
    nav ul a{
        padding: 30px 0;
    }
    .expandable_li{
        display: block;
    }
    .expandable_li label{
        padding: 30px 0;
        cursor: pointer;
        display: block;
    }
    .expandable_li:hover .dropdown{
        display: none;
    }
    .expandable_li input[type="checkbox"]:checked ~ .dropdown{
        display: block;
    }
    .dropdown{
        position: static;
        width: 100%;
    }
    .dropdown li{
        padding: 0;
        display:block;
        position: static;
        background: var(--backgroundMobileDrop);
    }
    .dropdown li a{
        width: 100%;
        padding: 0;
        justify-content: center;
    }
    #toggle_button:checked ~ul{
        display:block;
    }
}

button:focus {
    outline: none;
}

/* My account text*/
.account-text {
    
    padding: 10px;
}
.account-btn {
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: var(--background1);
}

.account-btn:focus {
    outline: none;
}

.plan-text {
    padding: 10px;
}

#sum-prices {
    padding-left: 5px;
}



/* BANNER */
#banner {
    width: 100%;
    height: 700px;
    z-index: 0;
  
    background: 
    url(/img/banner.jpg);
    background-size: cover;
}

#banner h1 {
    padding-top: 350px;
    text-align: center;
    color: var(--background1);
    font-size: 8em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* INHALT - Home */
#content {
    padding-bottom: 70px;
    text-align: center;
    background-color: var(--background2);
    width: 100%;
}

.wrapper2 {
    padding: 100px;
    
    text-align: left;
}

.wrapper2 ::first-letter{
    font-size: 30px;
    float: left;
    padding-right: 5px;
    
}
.container {
    letter-spacing: 4px;
    align-items: center;
    text-align: center;
    background-color: var(--background2);
}

.button {
    padding: 2em 3em;
    width: 200px;
    height: 50px;
    border: none;
    color: var(--background1);
    background-color: var(--background4);
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 var(--secondaryColor);
    transition: ease-out 0.3s;
    font-size: 2rem;
    outline: none;
    text-decoration: none;
}

.button:hover {
    box-shadow: inset 300px 0 0 0 var(--secondaryColor);
}


/* BANNER */

#planBanner {
    width: 100%;
    height: 700px;
    z-index: 0;

    background: 
    url(/img/planBanner.jpg);
    background-size: cover;
}

#planBanner h1 {
    padding-top: 350px;
    text-align: center;
    color: var(--background1);
    font-size: 8em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#container {
    width: 100%;
    background-color: var(--secondaryColor);
    
    text-align: center;
    color:var(--background1);
    font-size:x-large;
    padding: 50px;
}

/* INHALT-KRANKHEITSBILDER */
.backgroundcontainer {
    background-color:var(--background2);
    width: 100%;  
    
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.krankheitsbild {
    background-color: var(--background5);
    width: 300px;
    height: 500px;
    margin: 20px;

    padding: 20px;
    text-align: center;
    
}

.textkrankheitsbild{
    font-size:larger;
    padding: 20px;
    padding-top: 30px;
}

.bildkrankheitsbild {
    padding: 20px;
    padding-top: 150px;
    padding-bottom: 100px;
    transition: padding 2s ease;
}

.bildkrankheitsbild :hover{
    padding-top: 10px;
}

.textkrankheitsbild a{
    color:var(--textColor1);
}


/*INHALT-Übungsübersicht*/
.tablewrapper{
    padding: 50px;
    display: flex;
    justify-content: space-between;
    
    flex-wrap: wrap;
    flex-direction: column;

    background-color: var(--background2);
}

.tablewrapper h1{
    border-bottom: 1px solid black;
    padding: 20px;
    margin-bottom: 20px;
}

.tablewrapper button{
    align-self: center;
}

.weekwrapper{
    padding: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction:column;

    background-color: var(--background2);
}
details > summary {
    list-style: none;
  }
details > summary::-webkit-details-marker {
    display: none;
  }

.week{
    margin: 20px;
    margin-left: 40px;
    margin-right: 40px;
    height: fit-content;
    width: 80%;
    padding: 50px;
    padding-top: 70px;

    text-align:center;
    background-color:var(--background4);
    border-radius: 10px;
    
}

.week summary {
    cursor: pointer;
}

.week summary h2 {
    margin: 20px;
}

.übungenwrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

.übungen{
    width: 300px;
    height: fit-content;

    background-color: var(--background2);
    border-radius: 10px;

    margin: 30px;
    margin-top: 50px;
    padding: 50px;
   
}

.übungen h2, p{
    padding-bottom: 20px;
}

.übungsname {
    text-decoration: none;
    text-align: center;
    color: var(--textColor1);
    font-size: larger;
    font-weight: bolder;
}

.übungsname p {
    font-size: smaller;
    padding: 20px;
    font-weight: lighter;
}

#shop-item-image {
    width: 300px;
    height: auto;
    border-radius: 10px;
}


/* ÜBUNGSANSICHT */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border-radius: 10px;
    z-index: 10;
    background-color: var(--background2);
    width: 80%;
    height:fit-content;
  }
  
  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .modal-header {
    height:100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    padding-bottom: 0;
    background-color: var(--background3);
    color:var(--background1);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  
  .modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
  }
  
  .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-body {
    padding: 10px 15px;
  }

  .übungstext{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (max-width: 650px) {
    .übungstext .inputnumberwrapper{
    display: flex;
    flex-direction: column; 
    height:fit-content;
    } 
}

.inputnumberwrapper{
    text-align: start;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  input[type=number]{
    padding: 10px;
    border: 1px;;
    box-shadow:var(--boxShadow);
    border-radius:10px;
    width: 60px;
    height: 40px;
    margin: 30px;
  }

  input[type=text]{
    width: 100px;
    resize: vertical;
    margin: 30px;
    padding: 15px;
    border-radius: 15px;
    border: 0;
    box-shadow:var(--boxShadow);
    height:100px;
  }

  .übungstext p{
    padding: 20px;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px;;
    box-shadow:var(--boxShadow);
    border-radius:10px;
    margin: 10px;
  }

  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  }
  
  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }

  .buttonwrapper {
      margin: 30px;
  }

/* CART */
section {
    padding: 30px;
   
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: var(--textColor2);
}

.cart-column {
    display: flex;
    align-items: center;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
    /* border-bottom: 1px solid black; */
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: var(--textColor2);
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: var(--background1);
    background-color: var(--buttonRemove);
    border: none;
    border-radius: .3em;
    font-weight: bold;
    height: 50px;
    width: 150px;
    padding: 15px;
}

.btn-danger:hover {
    background-color: var(--buttonRemoveHover);
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid var(--background3);
    background-color: var(--background5);
    color: var(--textColor2);
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: var(--textColor1);
    margin-right: 20px;
}

.cart-total-price {
    color: var(--textColor2);
    font-size: 1.1em;
}

.btn-primary {
    color: var(--background1);
    background-color: var(--background3);
    border: none;
    border-radius: .3em;
    font-weight: bold;
    margin-top: 25px;
    padding: 10px;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}

.btn-primary:hover {
    background-color:var(--buttonHover);
}

button.btn.btn-primary.btn-purchase{
    padding: 20px;
    width: fit-content;
    height: fit-content;
    border: none;
    color: var(--background1);
    background-color:var(--background4);
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 var(--secondaryColor);
    transition: ease-out 0.3s;
    font-size: 1.5rem;
    outline: none;
    text-decoration: none;
}

button.btn.btn-primary.btn-purchase:hover {
    box-shadow: inset 300px 0 0 0 var(--secondaryColor);
}

/* FOOTER */
.footerdistance {
    min-height: 250px;
    background-color: var(--background2);
}

.footermain{
    display: flex;
    background: var(--secondaryColor);
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: -100px;
    clear: both;

    width: 100%;
    height: 350px;
}

@media (max-width: 650px) {
    .footermain {
    display: flex;
    flex-direction: column; 
    height:fit-content;
    } 
}

.footermain .box{
    flex-basis: 50%;
    padding: 30px 20px;

}

.box h2{
    font-size: 1.125rem;
    font-weight:600;
    text-transform: uppercase;
}

.box .content{
    margin: 20px 0 0 0;
}

.left .content p{
    text-align: justify;
}

.left .content .social{
    margin: 20px 0 0 0;
}

.left .content .social a{
    padding: 0 2px;
}

.left .content .social a span{
    height: 40px;
    width: 40px;
    background:var(--secondaryColor);
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
    color: var(--textColor1);
}

.left .content .social a span:hover{
    background: var(--background4);
}

.center .content .fas {
    padding-right: 10px;
}

.right form .text{
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: var(--textColor1);
}

.right form .msg{
    margin-top: 10px;
}

.right form input, .right form textarea{
    width: 100%;
    font-size: 1.0625rem;
    background: var(--background2);
    padding-left: 10px;
    border: 1px solid var(--background3);
}

.right form input:focus, .right form textarea:focus{
    outline-color: var(--highlight);
}

.right form input{
    height: 35px;
}

.right form .btn{
    margin-top: 10px;
}

.right form .btn button{
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background: var(--background4);
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
}

.right form .btn button:hover{
    background: var(--highlight);
}

